.messages-wrap .messages_block {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages_block .message_item {
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.messages_block .message_item_me {
    align-self: flex-start;
    padding: 10px 30px;
}

.messages_block .message_item_notme {
    align-self: flex-end;
    background: rgb(148, 223, 185);
    padding: 10px 30px;
}
.messages_elements {
    min-height: 200px;
}

.send_message_block {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .send_message_block textarea {
    width: 100%;
  }
  
  .messages_elements>div {
    display: flex;
    flex-direction: column;
    min-height: 200px;
  }