* {
  box-sizing: border-box;
}
.app-wrapper {
  font-family: Arial;
  color: #555;
  font-size: 14px;
  background: #EDEEF0;
  min-height: 100vh;
}
a {
  cursor: pointer;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
}

.content {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 10px;
  margin-left: 10px;
}

.header_h5 {
  margin-bottom: 7px;
  font-size: 16px;
  color: #333;
}