.app-wrapper {
  
}
header {
  width: 100%;
  background: #00aa00;
}
header>div{
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px 10px;
}
main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
}
.nav {
  width: 300px;
  background: #aaaa00;
  padding: 10px 10px;
}
.content {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 10px;
  margin-left: 10px;
}
.menu {
  display: flex;
  flex-direction: column;
}
.content-wrap {
  display: flex;
  flex-direction: column;
}